
@import "~ed-grid/ed-grid";

input[type="search"], button[type="submit"]
{
    position: relative;
    width: 10%;
    height: 40px;
    padding: 0;
}
input[type="search"]
{
       width: 40%;
       border: none;
       z-index:2;
       @include from(m){width:90%}

}
fieldset {
    width: 100%;
    background: #2B3AF2;
    border: 1px solid #333;
    border-radius: 5px;
}


button[type="submit"]
{
    width: 20%;
    border: none;
    background: #2B3AF2;
    transform: translate(-50px,0);
    transition-duration: .3s;
    @include from(m){width:10%}
}
.fa-search{
    color: hsl(0, 24%, 96%);
}
input[type="search"]:focus {
    outline: none;
}
input[type="search"]:focus + button[type="submit"]{
    transform: translate(0,0);
    transition-duration: .3s;
}
input[type="search"]:focus + button[type="submit"] .fa {
    transform: translate(0,0);
    transition: all .1s ease-in-out;
}
section[type="head"]{
    height: 55px;
    background: #2B3AF2;
}
.flex{
    display: flex;
    justify-content: flex-end;
    }
.colorbtn{
    background: '#2B3AF2' !important; 
    margin-right: 1rem;
    color: white;
}